@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.card__product {
  height: 40vh;
  width: 15vw;
  display: flex;
}
.card__image {
  cursor: pointer;
}
.card__titile {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
}
