.container-home-frm {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f5f8;
}

.main-card-frm {
  width: 45%;
  margin: 2rem 0 2rem 0;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.forum-search {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.container-input {
  position: relative;
}

.input__people {
  width: 34vw;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #c0bfbf;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #c0bfbf;
  transform: translate(0, -50%);
}

.input__people:focus {
  opacity: 1;
  width: 37vw;
}

#nav__widjets {
  display: flex;
  margin-right: 2vw;
  gap: 2vw;
}

.main-content-frm {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: rgb(207, 203, 203) 1px solid;
}

.pagination {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pagination > ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
}
.pagination > ul > li.current-page {
  color: gray;
}

.pagination > button {
  width: 30%;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #050505;
  color: white;
  border-radius: 20px;
}

/* -------------------------------- */
.menu-contacts-frm {
  width: 25%;
  display: flex;
  justify-content: center;

  margin: 2rem 0;
}
.block-request-frm {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.forum-btn-create {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forum-btn-create > .modal-open-frm {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  font-size: 18px;
  transition: 0.6s;
  cursor: pointer;
}

.search-tag {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: 1px solid #555557;
  border-radius: 20px;
  font-size: 18px;
}

.tag-title > h4 {
  margin: 1rem 0 0 0;
}

.select-tag {
  width: 80%;
}

.select-tag > select {
  width: 100%;
}

.tag-btn {
  width: 50%;
}

.tag-btn > button {
  width: 100%;
  height: 30px;
  margin: 1rem 0 1rem 0;
  border: none;
  border-radius: 20px;
  background-color: #050505;
  outline: none;
  color: white;
  cursor: pointer;
}

.post-btns {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 0 0 1rem 0;
}

.post-btns > button {
  width: 20%;
  height: 30px;
  border-radius: 20px;
  border: none;
  border-radius: 20px;
  background-color: #050505;
  color: white;
}

.comment-section {
  width: 90%;
  border: 1px solid #555557;
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.comment-title {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-title > h4 {
  margin: 0;
}

.comment-btn {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.comment-btn > input {
  width: 50%;
  height: 25px;
  border: 1px solid #cacace;
  outline: none;
  border-radius: 20px;
  padding: 0 0 0 20px;
}

.comment-btn > button {
  width: 20%;
  height: 30px;
  border-radius: 20px;
  border: none;
  border-radius: 20px;
  background-color: #050505;
  color: white;
}
