#shop__container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#shop__container h2 {
  font-size: 3rem;
}

.shop__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12vh;
}
