/* styles.css */

.topic-form-container {
  margin: 50px;
  padding: 10px;
}

.topic-form-container form {
  display: flex;
  flex-direction: column;
}

.topic-form-container label {
  margin-bottom: 10px;
  font-weight: 600;
}

.topic-form-container input {
  padding: 5px;
  margin-bottom: 10px;
}

.topic-form-container button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: black solid;
  cursor: pointer;
  font-size: 14px;
  transition: 0.6s;
}

.topic-form-container button:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 0.6s;
}

#title-frm-modal {
  border-radius: 100px;
}
#content-frm-modal {
  border-radius: 100px;
}
#input-frm-modal {
  background-color: rgb(0, 0, 0);
  border-radius: 100px;
  color: white;
  transition: 0.6s;
}
#input-frm-modal::-webkit-file-upload-button {
  border-radius: 100px;
  font-size: 14px;
  font-weight: 400;
  transition: 0.6s;
}
#input-frm-modal::-webkit-file-upload-button:hover {
  border-radius: 100px;
  font-size: 14px;
  font-weight: 400;
  background-color: black;
  color: white;
  transition: 0.6s;
}
#input-frm-modal:hover {
  background-color: white;
  color: black;
  transition: 0.6s;
}
