/*bg*/
/*txt*/
/*success*/
.buttons__cart {
  display: flex;
  justify-content: space-around;
  top: 20px;
  left: 20px;
}

.buttons__cart .btn__cartdel {
  width: 13vw;
  height: 50px;
  background-color: white;
  margin: 20px;
  color: #000000;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-top: 9vh;
}

.buttons__cart .btn__cartdel:before,
.buttons__cart .btn__cartdel:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons__cart .btn__cartdel:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons__cart .btn__cartdel:after {
  left: 0;
  bottom: 0;
}

.buttons__cart .btn__cartdel span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.buttons__cart .btn__cartdel span:before,
.buttons__cart .btn__cartdel span:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #000000;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons__cart .btn__cartdel span:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons__cart .btn__cartdel span:after {
  left: 0;
  bottom: 0;
}

.buttons__cart .btn__cartdel p {
  padding: 0;
  margin: 0;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  position: absolute;
  width: 100%;
  height: 100%;
}

.buttons__cart .btn__cartdel p:before,
.buttons__cart .btn__cartdel p:after {
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  z-index: 1;
  left: 0;
}

.buttons__cart .btn__cartdel p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
}

.buttons__cart .btn__cartdel p:after {
  content: attr(data-text);
  top: 150%;
  color: #000000;
}

.buttons__cart .btn__cartdel:hover:before,
.buttons__cart .btn__cartdel:hover:after {
  width: 100%;
}

.buttons__cart .btn__cartdel:hover span {
  z-index: 1;
}

.buttons__cart .btn__cartdel:hover span:before,
.buttons__cart .btn__cartdel:hover span:after {
  height: 100%;
}

.buttons__cart .btn__cartdel:hover p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons__cart .btn__cartdel:hover p:after {
  top: 50%;
  transform: translateY(-50%);
}

.buttons__cart .btn__cartdel.start {
  background-color: #44d8a4;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.buttons__cart .btn__cartdel.start p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons__cart .btn__cartdel.start p:after {
  color: white;
  transition: all 0s ease;
  content: attr(data-start);
  top: 50%;
  transform: translateY(-50%);
  animation: start 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes start {
  from {
    top: -50%;
  }
}

.buttons__cart .btn__cartdel.start:hover:before,
.buttons__cart .btn__cartdel.start:hover:after {
  display: none;
}

.buttons__cart .btn__cartdel.start:hover span {
  display: none;
}

.buttons__cart .btn__cartdel:active {
  outline: none;
  border: none;
}

.buttons__cart .btn__cartdel:focus {
  outline: 0;
}
