.side-item-menu {
  width: 20%;
  height: 100%;
  gap: 40px;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.item-profile {
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.item-profile > p {
  width: 40%;
  margin: 0;
  color: #2f2f31;
  font-size: 16px;
}

.item-profile > img {
  width: 45px;
  height: 50px;
  border-radius: 80%;
  margin: 0 0 0 10px;
}
.no-profile {
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.no-profile > svg {
  width: 50px;
  height: 50px;
  /* border-radius: 80%; */
  margin: 0 0 0 10px;
}

.profile-btn {
  cursor: pointer;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.item-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-menu > .menu {
  width: 100%;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border: 1px solid #e9e9f1;
  background-color: white;
  font-size: 18px;
}

.item-menu > .menu {
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: first baseline;
  align-items: center;
  text-align: start;
  gap: 20px;
  cursor: pointer;
}

.menu > svg {
  width: 25px;
  height: 25px;
  color: #555557;
  padding-left: 2rem;
}
